{{set listType ??= "ul"}}
<{{type}}>
  {{- for page in search[method](query) }} 
		{{- set res = fn(page) }} 
    <li>
{{ if typeof res === "object" }}
  {{ if Array.isArray(res) }} 
	  {{ comp.utils.list({iter:res}) }}
  {{ else }} 
    {{  }} 
  {{ /if}} 
{{ else }} 
	{{ res }}
{{ /if }} 
		</li>
  {{ /for -}} 
</{{type}}>
