{{set listType ??= "ul"}}
<{{listType}}>
{{ if Array.isArray(iter) }} 
  {{ for item of iter }} 
    <li>
      {{- if item |> isObj -}} 
        {{ comp.utils.list({iter:item})}}
        {{ else }} 
          {{ item }} 
      {{ /if -}} 
    </li>
  {{ /for }} 
{{ else }}
  {{ for key, value of iter }}
  <li>{{key}}: 
    {{ if value |> isObj}}
      {{- comp.utils.list({iter:value}) }}
    {{ else }}
      {{value}}
    {{- /if -}}
      </li>
  {{ /for }}
{{ /if }} 
<{{listType}}>
